<a href="https://colab.research.google.com/github/Nandeshwar1309/Python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Program to create a Dictionary with at least 5 key-value pairs of Student ID and Name

students = {
    "S001": "Alice",
    "S002": "Bob",
    "S003": "Charlie",
    "S004": "David",
    "S005": "Eva"
}
print(students)

{'S001': 'Alice', 'S002': 'Bob', 'S003': 'Charlie', 'S004': 'David', 'S005': 'Eva'}

In [2]:
# Program to add the values in dictionary

students["S006"] = "Frank"
students["S007"] = "Tim"
print(students)

{'S001': 'Alice', 'S002': 'Bob', 'S003': 'Charlie', 'S004': 'David', 'S005': 'Eva', 'S006': 'Frank', 'S007': 'Tim'}

In [3]:
# Program to update the values in dictionary

students["S003"] = "Chris"
print(students)

{'S001': 'Alice', 'S002': 'Bob', 'S003': 'Chris', 'S004': 'David', 'S005': 'Eva', 'S006': 'Frank', 'S007': 'Tim'}

In [4]:
# Program to access the value in dictionary

print("Student ID S002 is:", students["S002"])

Student ID S002 is: Bob

In [5]:
# Program for create a nested loop dictionary

nested_students = {
    "S001": {"name": "Alice", "grade": "A"},
    "S002": {"name": "Bob", "grade": "B"},
    "S003": {"name": "Charlie", "grade": "A"},
}
print(nested_students)

{'S001': {'name': 'Alice', 'grade': 'A'}, 'S002': {'name': 'Bob', 'grade': 'B'}, 'S003': {'name': 'Charlie', 'grade': 'A'}}

In [6]:
# Program to access the values of nested loop dictionary

for student_id, info in nested_students.items():
    print(f"ID: {student_id}, Name: {info['name']}, Grade: {info['grade']}")

ID: S001, Name: Alice, Grade: A
ID: S002, Name: Bob, Grade: B
ID: S003, Name: Charlie, Grade: A

In [7]:
# Program to print the keys present in a particular dictionary

print("Keys in students dictionary:", students.keys())

Keys in students dictionary: dict_keys(['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007'])

In [8]:
# Program to delete a value from a dictionary

del students["S004"]
print(students)

{'S001': 'Alice', 'S002': 'Bob', 'S003': 'Chris', 'S005': 'Eva', 'S006': 'Frank', 'S007': 'Tim'}